{
    "openapi": "3.0.0",
    "info": {
        "title": "Opendatabot API",
        "description": "Opendatabot — платформа для роботи з відкритими державними даними. Наше API надає актуальні дані з Єдиного реєстру підприємств та організацій, судового реєстру, реєстр виконавчих проваджень, реєстру податкових боргів, розкладу судових засідань, реєстру податкових боргів, реєстру платників ПДВ та інших.<br><br>Ми вирішуємо задачі з перевірки та контролю контрагентів, моніторингу судових справ та судових засідань, перевірки персоналу, отримання нових клієнтів для вашого бізнесу.<br><br>Наша мета — надання даних та сервісів для будь-якого програмного забезпечення в Україні. Для доступу пишіть нам на <a href='mailto:mail@opendatabot.com?subject=API'>mail@opendatabot.com</a> та вкажіть для якого проекту плануєте використання.",
        "contact": {
            "email": "mail@opendatabot.com"
        },
        "version": "2.0"
    },
    "servers": [
        {
            "url": "https://opendatabot.com/api/v2/",
            "description": "https://opendatabot.com/"
        }
    ],
    "paths": {
        "/government-companies": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Перевірка за кодом, що компанія належить державі",
                "description": "Перевірка за кодом, що компанія належить державі",
                "operationId": "government_company",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "код компанії",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GovernmentCompany"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/dpa/{code}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Реєстраційна інформація ФОП та інформація з ДПА за ідентифікаційним кодом",
                "description": "Отримання реєстраційної інформації ФОП (ПІБ, адреса, види діяльності, статус, дані з ДПА) за індівідуальним кодом платника податків (ІПН), статус платника ПДВ",
                "operationId": "dpa",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "ідентифікаційний код",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FopDpa"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Fop not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/company/{codes}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Реєстраційна інформація компанії за кодом ЄДРПОУ",
                "description": "Отримання реєстраційної інформації за кодом ЄДРПОУ. Можливо отримати запит за декількома компаніями — коди повинні передаватись через кому без пробілів. Наприклад: 41711425,32746583,39896792",
                "operationId": "Company",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "codes",
                        "in": "path",
                        "description": "коди ЄДРПОУ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Company"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid company codes"
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/court": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Пошук судових рішень",
                "description": "Отримання судових рішень",
                "operationId": "courtDecision",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "judgment_code",
                        "in": "query",
                        "description": "Опис:<br> &emsp; 1: Цивільне<br> &emsp; 2: Кримінальне<br> &emsp; 3: Господарське<br> &emsp; 4: Адміністративне<br> &emsp; 5: Адмінправопорушення<br>",
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                2,
                                3,
                                4,
                                5
                            ]
                        }
                    },
                    {
                        "name": "justice_code",
                        "in": "query",
                        "description": "Опис:<br> &emsp; 1: Вирок<br> &emsp; 2: Постанова<br> &emsp; 3: Рішення<br> &emsp; 4: Судовий наказ<br> &emsp; 5: Ухвала<br> &emsp; 6: Окрема ухвала<br> &emsp; 10: Окрема думка<br>",
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                2,
                                3,
                                4,
                                5,
                                6,
                                10
                            ]
                        }
                    },
                    {
                        "name": "court_code",
                        "in": "query",
                        "description": "Код суда (перелік в судових реєстрах по /institutions)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "company_code",
                        "in": "query",
                        "description": "код ЄДРПОУ компанії",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "description": "Пошук в тексті рішення",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stage",
                        "in": "query",
                        "description": "Тип інстанциї",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "first",
                                "appeal",
                                "cassation"
                            ]
                        }
                    },
                    {
                        "name": "text_intro",
                        "in": "query",
                        "description": "Пошук в вступній частині рішення",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "text_resolution",
                        "in": "query",
                        "description": "Пошук в резолютивній частині рішення",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Зміщення від дати ухвали рішення",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Зміщення до дати ухвали рішення",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "Номер справи",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search_criteria",
                        "in": "query",
                        "description": "Критерій пошуку значення параметру text в тексті судового рішення. words_in_a_row - Слова повинні йти один за одним",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "words_in_a_row"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/courtDecisions"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/institutions": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Пошук судів",
                "description": "Отримання судів",
                "operationId": "institutionsDictionary",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Найменування суду",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/institution"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/transport": {
            "get": {
                "tags": [
                    "Транспорт"
                ],
                "summary": "Перелік транспортних засобів",
                "description": "Отримання переліку транспортних засобів",
                "operationId": "transports",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "Номер транспортного засобу",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Порядок сортування (asc|desc)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/transports"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/transport/{id}": {
            "get": {
                "tags": [
                    "Транспорт"
                ],
                "summary": "Інформація по реєстрації транспортного засобу",
                "description": "Отримання інформації по реєстрації транспортного засобу",
                "operationId": "transport",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "внутрішній id, який отримали при пошуку транспортних засобів",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/item_full_transport"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/changes/{codes}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Перелік змін реєстраційної інформації",
                "description": "Отримання переліку змін реєстраційної інформації (зміна директора, адреси, статусу, види діяльності, назви, власників).  Для даних за декількома компаніями — коди повинні передаватись через кому без пробілів. Наприклад: 41711425,32746583,39896792. Параметр from передається у форматі YYYY-MM-DD",
                "operationId": "changes",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "codes",
                        "in": "path",
                        "description": "коди ЄДРПОУ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "дата, з якої показати зміни",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Change"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/genKey": {
            "get": {
                "tags": [
                    "Робота API"
                ],
                "summary": "Генерація API ключа для кінцевого користувача партнера",
                "description": "Генерація API ключа для кінцевого користувача партнера",
                "operationId": "apiKeyGeneration",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ партнера",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "salt",
                        "in": "query",
                        "description": "пароль партнера",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "незмінний внутрішній ідентифікатор клієнта, строка або число",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/genKey"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or missing parameters"
                    },
                    "500": {
                        "description": "Try later"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/statistics": {
            "get": {
                "tags": [
                    "Робота API"
                ],
                "summary": "Статистика використання API запитів",
                "description": "Отримання повної інформації про використання API запитів",
                "operationId": "statistics",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/statistics"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/court/{id}": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Пошук судового документа",
                "description": "Отримання судового документа",
                "operationId": "courtItem",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id судового документа",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/courtItem"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/aliment": {
            "get": {
                "tags": [
                    "Фізичні особи"
                ],
                "summary": "Заборгованість по аліментах",
                "description": "Отримання публічної інформації щодо особи, наявність в базі боржників за аліментами",
                "operationId": "aliment",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pib",
                        "in": "query",
                        "description": "ПІБ особи",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Фільтр за датою народження в форматі",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/aliment_data"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or missing parameter pib or Invalid parameter birth_date"
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/wagedebt/{code}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Заборгованість по заробітній платі",
                "description": "Отримання публічної інформації щодо компанії, наявність в базі боржників по заробітній платі",
                "operationId": "wagedebt",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "код ЄДРПОУ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/wagedebt"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "No debt found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/audit": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": " Пошук планових перевірок за кодом або ім'ям",
                "description": "Отримання публічної інформації щодо проведення планових перевірок",
                "operationId": "audits",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "код ОКПО",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pib",
                        "in": "query",
                        "description": "Ім'я ФОП",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/audits"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "No debt found"
                    },
                    "400": {
                        "description": "Invalid or missing search parameters"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/audit/{id}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Планові перевірки",
                "description": "Отримання публічної інформації щодо проведення планових перевірок",
                "operationId": "audit",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "внутрішній id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/audits"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "No debt found"
                    },
                    "400": {
                        "description": "Invalid or missing search parameters"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/schedule": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Пошук в судовому розкладі",
                "description": "Пошук в судовому розкладі",
                "operationId": "schedule",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "text_involved",
                        "in": "query",
                        "description": "Пошук в тексті",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "text_description",
                        "in": "query",
                        "description": "Пошук в описі",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Пошук по даті",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "courtId",
                        "in": "query",
                        "description": "Пошук по courtId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "judgment_code",
                        "in": "query",
                        "description": "Внутрішній код Форми судочинства",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "Пошук по номеру справи",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Фільтр за датою події (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Фільтр за датою події (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/region_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/schedule"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/accused": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Пошук обвинувачених осіб",
                "description": "Пошук осіб, які обвинувачюються у вчиненні кримінальних та адміністративних правопорушень",
                "operationId": "accused",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "Ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "judgment_code",
                        "in": "query",
                        "description": "Внутрішній код Форми судочинства",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "article",
                        "in": "query",
                        "description": "Стаття Кримінального кодексу або Кодексу про адміністративні правопорушення",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/region_id"
                    },
                    {
                        "name": "pib",
                        "in": "query",
                        "description": "ПІБ обвинуваченного або правопорушника",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Початкова дата пошуку (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Кінцева дата пошуку (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/accused"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/schedule/{id}": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Пошук судового засідання по ID",
                "description": "Пошук судового засідання по ID",
                "operationId": "schedule_by_id",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID судового засідання",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/schedule_item_main"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/company-courts": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Судові справи, де компанія є стороною",
                "description": "Отримання кількості судових справ за видами судочинства, де компанія є стороною",
                "operationId": "companyCourtsCount",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "код ЄДРПОУ компанії",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/company-courts-list"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/company-courts/{type}": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Судові справи за типом судочинства, де компанія є стороною",
                "description": "Отримання переліка судових справ за видами судочинства, де компанія є стороною",
                "operationId": "companyCourtsDetail",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Тип судочинства:<br>\n     civil - Цивільні справи<br>\n     criminal - Кримінальні справи<br>\n     arbitrage - Господарські справи<br>\n     administrative - Адміністративні справи<br>\n     admin-offense - Справи про адмінправопорушення<br>\n     undefined - Не зазанчено",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "civil",
                                "criminal",
                                "arbitrage",
                                "administrative",
                                "admin-offense",
                                "undefined"
                            ]
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "Ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Код ЄДРПОУ компанії",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_field",
                        "in": "query",
                        "description": "поле по якому відбувається сортування результату",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_type",
                        "in": "query",
                        "description": "порядок сортування (DESC - по зменшенню; ASC -по зростанню)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "фільтр з дати першого засідання або документа у справі",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2012-01-01"
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "фільтр по дату першого засідання або документа у справі",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2013-01-01"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів. Максимальний ліміт кількості записів — 1000",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/company-courts-detail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/court-cases/{number}": {
            "get": {
                "tags": [
                    "Судовий реєстр"
                ],
                "summary": "Повна інформація про судову справу",
                "description": "Отримання переліка інстанцій, рішень, позивачів, відповідачів, засідань за судовою справою. Отримання результату в кожній інстанції.",
                "operationId": "CourtsCases",
                "parameters": [
                    {
                        "name": "number",
                        "in": "path",
                        "description": "Номер судової справи",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "judgment_code",
                        "in": "query",
                        "description": "Вид судочинства: <br>\n     1 - Цивільні справи<br>\n     2 - Кримінальні справи<br>\n     3 - Господарські справи<br>\n     4 - Адміністративні справи<br>\n     5 - Справи про адмінправопорушення<br><br>\n     Якщо параметр не зазначений, а результат пошуку більше однієї справи з різним типом судочинства, то виникне помилка неунікальності судової справи. При зазначені типу судочинства, результат стає унікальним та у відповіді відображається лише одна справа",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                2,
                                3,
                                4,
                                5
                            ]
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "Ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/company-courts-cases"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "400": {
                        "description": "The result is not unique, required judgment_code parameter for refine"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/registrations": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Перелік нових компаній та ФОПів",
                "description": "Отримання переліку нових компаній та ФОПів",
                "operationId": "registrations",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "юридична (company) або фізична (fop) особа",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reg_date_from",
                        "in": "query",
                        "description": "пошук за датою з YYYY-MM-DD",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reg_date_to",
                        "in": "query",
                        "description": "пошук за датою по YYYY-MM-DD",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "activities",
                        "in": "query",
                        "description": "сортування за видами діяльності, через OR, наприклад, 69 OR 96",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "description": "пошук за адресою, Дніпро OR київ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "is_phone",
                        "in": "query",
                        "description": "Фільтр по наявності телефону [0|1]",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is_email",
                        "in": "query",
                        "description": "Фільтр по наявності email [0|1]",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "спосіб сортувааня (за зростанням 'ASC' або спаданням'DESC')",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/registrations"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/registrations/{id}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Повна інформація за внутрішнім id",
                "description": "Отримання реєстраційної інформації за внутрішнім id",
                "operationId": "registration",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "внутрішній id, який отримали з пошуку нових компаній/ФОПів",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/registration"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/lawyers": {
            "get": {
                "tags": [
                    "Фізичні особи"
                ],
                "summary": "Пошук в базі адвокатів",
                "description": "Отримання переліку адвокатів",
                "operationId": "lawyers",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "ПІБ особи",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lawyers"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/lawyers/{id}": {
            "get": {
                "tags": [
                    "Фізичні особи"
                ],
                "summary": "Інформація про Адвоката",
                "description": "Отримання інформації про Адвоката",
                "operationId": "lawyer",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "внутрішній id, який отримали при пошуку адвокатів",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lawyer"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/transport-licenses": {
            "get": {
                "tags": [
                    "Транспорт"
                ],
                "summary": "Перелік ліцензій транспортних засобів",
                "description": "Отримання переліку ліцензій транспортних засобів",
                "operationId": "transportLicenses",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "Номер транспортного засобу",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Код компанії або ІНН ФОП",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "owner_hash",
                        "in": "query",
                        "description": "Внутрішній id власника",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/transport_licenses"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/transport-licenses/{id}": {
            "get": {
                "tags": [
                    "Транспорт"
                ],
                "summary": "Інформація про ліцензію транспортного засобу",
                "description": "Отримання інформації про ліцензію транспортного засобу",
                "operationId": "transportLicense",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "внутрішній id, який отримали при пошуку ліцензій транспортних засобів",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/item_full_transport_licenses"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/inspections": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Інформація про перевірки",
                "description": "Отримання інформації про перевірки",
                "operationId": "inspections",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "код ЄДРПОУ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/inspections_response"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/inspections/{id}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Інформація про перевірку",
                "description": "Отримання інформації про перевірку за ідентифікатором перевірки",
                "operationId": "inspection-id",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ідентифікатор перевірки",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/inspection_item_response"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/pdf/{code}": {
            "get": {
                "tags": [
                    "Компанії та ФОП"
                ],
                "summary": "Генерування pdf повна інформація за кодом ЄДРПОУ",
                "description": "Генерування pdf документа з повною інформацією за кодом ЄДРПОУ",
                "operationId": "pdf",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "код ЄДРПОУ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pdf"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "404": {
                        "description": "Company not found"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/full-penalty/{number}": {
            "get": {
                "tags": [
                    "Виконавчі провадження"
                ],
                "summary": "Інформація про історію виконавчих проваджень компанії або приватної особи за номером провадження",
                "description": "Отримання інформації про історію виконавчих проваджень компанії або приватної особи за номером провадження",
                "operationId": "full_penalties_number",
                "parameters": [
                    {
                        "name": "number",
                        "in": "path",
                        "description": "Номер виконавчого провадження",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "description": "Джерело з якого виконується витяг інформації по виконавчим провадженням, opendatabot -  для отримання інформації з бази даних Opendatabot",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/full_penalties_success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/full-penalty-doc/{number}": {
            "get": {
                "tags": [
                    "Виконавчі провадження"
                ],
                "summary": "Інформація про історію виконавчих проваджень компанії або приватної особи за номером провадження та ідентифікатором доступу",
                "description": "Отримання інформації про історію виконавчих проваджень компанії або приватної особи за номером провадження та ідентифікатором доступу",
                "operationId": "full_penalties_secret",
                "parameters": [
                    {
                        "name": "number",
                        "in": "path",
                        "description": "Номер виконавчого провадження",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "secret",
                        "in": "query",
                        "description": "Ідентифікатор доступу",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/full_penalties_secret_success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/full-penalty": {
            "get": {
                "tags": [
                    "Виконавчі провадження"
                ],
                "summary": "Інформація про історію виконавчих проваджень компанії або приватної особи за стороною провадження",
                "description": "Отримання інформації про історію виконавчих проваджень компанії або приватної особи за стороною провадження",
                "operationId": "full_penalties_params",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "borrower_code",
                        "in": "query",
                        "description": "код ЄДРПОУ боржника",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "creditor_code",
                        "in": "query",
                        "description": "код ЄДРПОУ стягувача",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "borrower_first_name",
                        "in": "query",
                        "description": "Ім'я боржника",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "borrower_last_name",
                        "in": "query",
                        "description": "Прізвище боржника",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "borrower_middle_name",
                        "in": "query",
                        "description": "По-батькові боржника",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "borrower_birth_date",
                        "in": "query",
                        "description": "Дата народження боржника",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "description": "Джерело з якого виконується витяг інформації по виконавчим провадженням, opendatabot -  для отримання інформації з бази даних Opendatabot",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/full_penalties_success"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "500": {
                        "description": "Try later/Count is too many"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/corrupt-officials/{id}": {
            "get": {
                "tags": [
                    "Фізичні особи"
                ],
                "summary": "Відомості про осібу, яка вчинила корупційні правопорушення, за внутрішнім id",
                "description": "Отримання відомостей про осібу, яка вчинила корупційні правопорушення, за внутрішнім id",
                "operationId": "corrupt-officials-item",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "внутрішній id, який отримали при пошуку корупціонерів по ПІБ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/corrupt-officials-item"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/corrupt-officials": {
            "get": {
                "tags": [
                    "Фізичні особи"
                ],
                "summary": "Відомості про осіб, які вчинили корупційні правопорушення",
                "description": "Отримання відомостей про осіб, які вчинили корупційні правопорушення",
                "operationId": "corrupt-officials",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "ключ API",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pib",
                        "in": "query",
                        "description": "ПІБ особи",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Зміщення відносно початку результатів пошуку",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кількість записів",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/corrupt-officials"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "ApiKey is not specified"
                    },
                    "503": {
                        "description": "The service is unavailable"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/koatuu/regions": {
            "get": {
                "tags": [
                    "КОАТУУ"
                ],
[...]
